body{

    background: rgb(220, 226, 228);
    min-height: 88vh;


}

.container {

    text-align: center;
    font-family: Arial, sans-serif;
    
    padding: 30px;

}


.title {

    color: rgb(44, 42, 42);

}


.inputContainer {

    margin: 40px 0;

}

input {

    padding: 10px;
    font-size: 16px;
    margin: 5px;
    width: 200px;

}

button {

    padding: 10px 20px;
    background-color: rgb(17, 123, 209);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.WeatherBox {

    background: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    display: inline-block;

    text-align: left;

}

.WeatherBox p{

    margin-top: 30px;
}
.error {

    color: red;

}
